@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.PlayDis_fz45_400, .top__title {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
}

.PlayDis_fz32_400, .info__title, .banner__title, .models__title {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
}

.PlayDis_fz30_400, .top__subtitle {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-size: 30px;
  line-height: 40px;
}

.PlayDis_fz14_700, .item-models__title {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.PlayDis_fz12_400 {
  font-family: "Playfair Display", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.14em;
}

.Prata_fz16_400, .top-watch__diameter-left, .top-watch__diameter-right, .top-watch__price {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.Prata_fz12_400, .banner__number, .item-models__price {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.Roboto_fz16_500, .models__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.Roboto_fz16_400, .info__subtitle, .banner__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.Roboto_fz14_700, .footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.Roboto_fz14_400, .footer__links a, .menu__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.Roboto_fz14_300, .top__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

.Roboto_fz14_400, .footer__links a, .menu__item {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1b1a17;
}

.header {
  margin: 0 6% 30px 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__icons {
  margin-top: 35px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__like {
  position: relative;
}
.header__like::after {
  content: "1";
  font-size: 8px;
  text-align: center;
  line-height: 14px;
  color: #1b1a17;
  display: block;
  background: #e6c8b4;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  left: 14px;
  bottom: 14px;
}
.header__logo {
  margin-top: 31px;
}

.menu {
  margin-top: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}
.menu__item {
  color: #555248;
  margin: 0 5px;
}

.top {
  background-image: url(../img/main_watch_desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.top-box {
  margin: 0 6%;
  height: 800px;
  display: flex;
  flex-direction: row;
}
.top__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top__line {
  margin: 285px 15px 0 22px;
}
.top__title {
  margin-top: 16px;
}
.top__subtitle {
  margin-bottom: 39px;
}
.top__description {
  margin-bottom: 64px;
  color: rgba(27, 26, 23, 0.82);
  max-width: 258px;
}
.top__btn-show {
  background: #444240;
}

.line-50 {
  width: 50px;
  height: 0px;
  border: 1px solid #8b8371;
}

.line-30 {
  width: 30px;
  height: 0px;
  border: 1px solid #8b8371;
}

.btn-show {
  width: 205px;
  height: 64px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.top-watch {
  display: flex;
  flex-direction: row;
}
.top-watch__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 138px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
}
.top-watch__line {
  margin: 0 15px;
}
.top-watch__diameter-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 636px;
  margin-left: 342px;
  position: absolute;
  left: 50%;
}
.top-watch__diameter-left {
  display: none;
}

.models {
  margin: 0 6%;
}
.models__title {
  margin-top: 80px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}
.models__link {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 25px;
}
.models__text {
  color: #444240;
}
.models__line {
  width: 101px;
  height: 0px;
  border: 1px solid #c4c0b6;
}
.models__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item-models {
  padding: 40px 0;
}
.item-models__title {
  margin-bottom: 10px;
}
.item-models__price {
  margin-bottom: 2px;
}
.item-models__info {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item-models__line {
  margin-right: 18px;
}
.item-models__more {
  font-family: "Playfair Display", serif;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../img/lines_banner.svg) right no-repeat, linear-gradient(90deg, #f7f5ef 33%, #fdfdfb 33%);
  min-height: 519px;
}
.banner__photo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 52px;
}
.banner__carousel {
  margin: 20px 80px;
}
.banner__number {
  margin: 0 20px;
}
.banner__text {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
}
.banner__title {
  margin-bottom: 38px;
}
.banner__subtitle {
  color: #444240;
  margin-bottom: 45px;
  max-width: 376px;
}
.banner__btn-show {
  background: #d4b098;
}

.info {
  margin: 80px 6% 90px 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info__text {
  display: flex;
  flex-direction: column;
  padding: 140px 70px 62px 0;
}
.info__title {
  margin-bottom: 40px;
}
.info__subtitle {
  color: #444240;
  line-height: 27px;
  max-width: 376px;
  margin-bottom: 118px;
}
.info__subtitle a {
  color: #262421;
}
.info__icons a {
  margin-right: 18px;
}
.info__icons img {
  vertical-align: bottom;
}

.footer {
  background: #444240;
  padding: 80px 6% 67px 6%;
  min-height: 275px;
}
.footer__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__title {
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 33px;
}
.footer__logo {
  margin-top: -13px;
  margin-bottom: 33px;
}
.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__links a {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 15px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 1000px) {
  .menu {
    width: 350px;
  }
  .top-watch__diameter-right {
    display: none;
  }
  .top-watch__diameter-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 636px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
  }
  .top__line {
    display: none;
  }
  .banner {
    flex-direction: column;
  }
  .banner__photo {
    align-items: center;
    margin: 50px 6% 0 6%;
  }
  .banner__text {
    margin: 0 6%;
    padding: 0;
    margin-bottom: 50px;
  }
  .info {
    flex-direction: column;
  }
  .info__text {
    padding: 0;
  }
  .info__subtitle {
    margin-bottom: 80px;
  }
  .info__icons {
    margin-bottom: 50px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 800px) {
  .menu {
    width: 300px;
  }
  .top__text {
    justify-content: space-between;
  }
  .top__description {
    max-width: 300px;
    margin-bottom: 30px;
  }
  .top-watch__price {
    position: absolute;
    margin-top: 24%;
    left: 45%;
  }
  .top-watch__diameter-left {
    position: absolute;
    margin-top: 78%;
    left: 45%;
  }
  .footer {
    padding: 20px 6% 40px 6%;
  }
  .footer__row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-auto-flow: row;
  }
  .footer__column {
    margin-top: 50px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 700px) {
  .header {
    flex-wrap: wrap;
  }
  .menu {
    width: 100%;
    order: 3;
  }
  .top {
    background-image: url(../img/main_watch_mobile.svg);
    background-size: auto 500px;
    background-repeat: no-repeat;
    background-position: right;
  }
  .top-watch__price {
    position: absolute;
    margin-top: 200px;
    left: auto;
    right: 200px;
    transform: none;
  }
  .top-watch__diameter-left {
    position: absolute;
    margin-top: 550px;
    left: auto;
    right: 200px;
    transform: none;
    white-space: normal;
  }
  .info__photo img {
    width: 80vw;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 600px) {
  .banner__photo img {
    width: 80vw;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 500px) {
  .line-50 {
    width: 30px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 400px) {
  .top__title {
    font-size: 35px;
  }
  .top__subtitle {
    font-size: 25px;
  }
  .top-watch__price {
    font-size: 14px;
  }
  .top-watch__diameter-left {
    font-size: 14px;
    text-align: end;
  }
  .line-50 {
    width: 10px;
  }
  .item-models img {
    width: 80vw;
  }
  .footer__row {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
    grid-auto-flow: row;
  }
}