/*Шрифты*/
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url("/fonts/Roboto/Roboto.ttf");
}
@font-face {
    font-family: "Prata";
    src: local("Prata"), url("/fonts/Prata/Prata-Regular.ttf");
}
@font-face {
    font-family: "Playfair_Display";
    src: local("Playfair_Display"), url("/fonts/Playfair_Display/PlayfairDisplay.ttf");
}

/*--------------------*/