/*Шрифты*/

%PlayDis_fz45_400 {
    font-family: "Playfair Display", serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
}

%PlayDis_fz32_400 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 43px;
}

%PlayDis_fz30_400 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-size: 30px;
    line-height: 40px;
}

%PlayDis_fz14_700 {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
}

%PlayDis_fz12_400 {
    font-family: "Playfair Display", serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.14em;
}

%Prata_fz16_400 {
    font-family: "Prata", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

%Prata_fz12_400 {
    font-family: "Prata", serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

%Roboto_fz16_500 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
%Roboto_fz16_400 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

%Roboto_fz14_700 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

%Roboto_fz14_400 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

%Roboto_fz14_300 {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}
/*--------------------*/
