@import "nullstyle.scss";
@import "fonts.scss";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap");

$grey: #444240;
$beige: #d4b098;

body {
    font-family: "Roboto", sans-serif;
    color: #1b1a17;
}

.header {
    margin: 0 6% 30px 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__icons {
        margin-top: 35px;
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__like {
        position: relative;
    }
    &__like::after {
        content: "1";
        font-size: 8px;
        text-align: center;
        line-height: 14px;
        color: #1b1a17;
        display: block;
        background: #e6c8b4;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        position: absolute;
        left: 14px;
        bottom: 14px;
    }

    &__logo {
        margin-top: 31px;
    }
}

.menu {
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    &__item {
        @extend %Roboto_fz14_400;
        color: #555248;
        margin: 0 5px;
    }
}

.top {
    background-image: url(../img/main_watch_desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &-box {
        margin: 0 6%;
        height: 800px;
        display: flex;
        flex-direction: row;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__line {
        margin: 285px 15px 0 22px;
    }

    &__title {
        @extend %PlayDis_fz45_400;
        margin-top: 16px;
    }

    &__subtitle {
        @extend %PlayDis_fz30_400;
        margin-bottom: 39px;
    }

    &__description {
        @extend %Roboto_fz14_300;
        margin-bottom: 64px;
        color: rgba(27, 26, 23, 0.82);
        max-width: 258px;
    }

    &__btn-show {
        background: $grey;
    }
}

.line-50 {
    width: 50px;
    height: 0px;
    border: 1px solid #8b8371;
}

.line-30 {
    width: 30px;
    height: 0px;
    border: 1px solid #8b8371;
}

.btn-show {
    width: 205px;
    height: 64px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
}

.top-watch {
    display: flex;
    flex-direction: row;
    &__price {
        display: flex;
        flex-direction: row;
        align-items: center;
        @extend %Prata_fz16_400;
        margin-top: 138px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        white-space: nowrap;
    }

    &__line {
        margin: 0 15px;
    }

    &__diameter-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        @extend %Prata_fz16_400;
        margin-top: 636px;
        margin-left: 342px;
        position: absolute;
        left: 50%;
    }
    &__diameter-left {
        display: none;
        @extend %Prata_fz16_400;
    }
}

.models {
    margin: 0 6%;
    &__title {
        @extend %PlayDis_fz32_400;
        margin-top: 80px;
        margin-bottom: 35px;
        display: flex;
        justify-content: center;
    }

    &__link {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-bottom: 25px;
    }

    &__text {
        @extend %Roboto_fz16_500;
        color: #444240;
    }

    &__line {
        width: 101px;
        height: 0px;
        border: 1px solid #c4c0b6;
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.item-models {
    padding: 40px 0;
    &__title {
        @extend %PlayDis_fz14_700;
        margin-bottom: 10px;
    }

    &__price {
        @extend %Prata_fz12_400;
        margin-bottom: 2px;
    }

    &__info {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__line {
        margin-right: 18px;
    }

    &__more {
        font-family: "Playfair Display", serif;
    }
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: url(../img/lines_banner.svg) right no-repeat, linear-gradient(90deg, #f7f5ef 33%, #fdfdfb 33%);
    min-height: 519px;

    &__photo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 52px;
    }

    &__carousel {
        margin: 20px 80px;
    }

    &__number {
        @extend %Prata_fz12_400;
        margin: 0 20px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        padding-left: 70px;
    }

    &__title {
        @extend %PlayDis_fz32_400;
        margin-bottom: 38px;
    }

    &__subtitle {
        @extend %Roboto_fz16_400;
        color: #444240;
        margin-bottom: 45px;
        max-width: 376px;
    }

    &__btn-show {
        background: $beige;
    }
}

.info {
    margin: 80px 6% 90px 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__text {
        display: flex;
        flex-direction: column;
        padding: 140px 70px 62px 0;
    }

    &__title {
        @extend %PlayDis_fz32_400;
        margin-bottom: 40px;
    }

    &__subtitle {
        @extend %Roboto_fz16_400;
        color: #444240;
        line-height: 27px;
        max-width: 376px;
        margin-bottom: 118px;
    }
    &__subtitle a {
        color: #262421;
    }

    &__icons a {
        margin-right: 18px;
    }

    &__icons img {
        vertical-align: bottom;
    }
}

.footer {
    background: $grey;
    padding: 80px 6% 67px 6%;
    min-height: 275px;
    &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__title {
        @extend %Roboto_fz14_700;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 33px;
    }

    &__logo {
        margin-top: -13px;
        margin-bottom: 33px;
    }
    &__links {
        display: flex;
        flex-direction: column;
    }

    &__links a {
        @extend %Roboto_fz14_400;
        color: rgba(255, 255, 255, 0.75);
        margin-bottom: 15px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 1000px) {
    .menu {
        width: 350px;
    }

    .top-watch {
        &__diameter-right {
            display: none;
        }
        &__diameter-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 636px;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            white-space: nowrap;
        }
    }

    .top {
        &__line {
            display: none;
        }
    }

    .banner {
        flex-direction: column;
        &__photo {
            align-items: center;
            margin: 50px 6% 0 6%;
        }
        &__text {
            margin: 0 6%;
            padding: 0;
            margin-bottom: 50px;
        }
    }

    .info {
        flex-direction: column;
        &__text {
            padding: 0;
        }

        &__subtitle {
            margin-bottom: 80px;
        }

        &__icons {
            margin-bottom: 50px;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 800px) {
    .menu {
        width: 300px;
    }

    .top {
        &__text {
            justify-content: space-between;
        }
        &__description {
            max-width: 300px;
            margin-bottom: 30px;
        }
    }

    .top-watch {
        &__price {
            position: absolute;
            margin-top: 24%;
            left: 45%;
        }

        &__diameter-left {
            position: absolute;
            margin-top: 78%;
            left: 45%;
        }
    }

    .footer {
        padding: 20px 6% 40px 6%;
        &__row {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto;
            grid-auto-flow: row;
        }

        &__column {
            margin-top: 50px;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 700px) {
    .header {
        flex-wrap: wrap;
    }
    .menu {
        width: 100%;
        order: 3;
    }

    .top {
        background-image: url(../img/main_watch_mobile.svg);
        background-size: auto 500px;
        background-repeat: no-repeat;
        background-position: right;
    }

    .top-watch {
        &__price {
            position: absolute;
            margin-top: 200px;

            left: auto;
            right: 200px;
            transform: none;
        }

        &__diameter-left {
            position: absolute;
            margin-top: 550px;
            left: auto;
            right: 200px;
            transform: none;
            white-space: normal;
        }
    }

    .info {
        &__photo img {
            width: 80vw;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 600px) {
    .banner {
        &__photo img {
            width: 80vw;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 500px) {
    .line-50 {
        width: 30px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 400px) {
    .top {
        &__title {
            font-size: 35px;
        }
        &__subtitle {
            font-size: 25px;
        }
    }

    .top-watch {
        &__price {
            font-size: 14px;
        }

        &__diameter-left {
            font-size: 14px;
            text-align: end;
        }
    }
    .line-50 {
        width: 10px;
    }

    .item-models img {
        width: 80vw;
    }

    .footer {
        &__row {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto auto;
            grid-auto-flow: row;
        }
    }
}
